*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Smooch Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0d1b2a;
}

.hide {
  display: none;
}

h2,
h3 {
  color: #e0e1dd;
}

h4 {
  color: black;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr auto 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.2rem 0 1.2rem 0;
}
.hero__side {
  height: 5.2rem;
  width: 100%;
  border-top: 2px solid #ced4da;
  border-bottom: 2px solid #ced4da;
}
.hero__title {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 7.4rem;
  margin: 0 2rem;
  color: #ffd43b;
}

.header {
  margin: 1rem auto;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(4, -webkit-min-content);
  grid-template-columns: repeat(4, min-content);
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 1rem;
}
.header a {
  color: #c0cad8;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header a:hover, .header a:active {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  text-underline-offset: 5px;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
  margin: 1.6rem 0;
  font-weight: 600;
}
.footer a {
  display: block;
  text-decoration: none;
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer a:hover, .footer a:active {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.more-meals,
.less-meals {
  margin: 2.4rem auto 1.2rem auto;
  padding: 0 0;
  font-size: 4.4rem;
  font-weight: 300;
  color: #c0cad8;
  cursor: pointer;
}
.more-meals:hover, .more-meals:active,
.less-meals:hover,
.less-meals:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.more-color {
  color: #c0cad8;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.meal__min__text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-img--less {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ced4da), color-stop(60%, #0d1b2a));
  background-image: linear-gradient(#ced4da 0% 60%, #0d1b2a 60% 100%);
}

.background-img--more {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ced4da), color-stop(10%, #0d1b2a));
  background-image: linear-gradient(#ced4da 0% 15%, #0d1b2a 10% 100%);
}

ion-icon {
  color: #1b263b;
  font-weight: 700;
  cursor: pointer;
}

.addIcon__card-min,
.infoIcon__card-min {
  position: absolute;
  font-size: 1.8rem;
}

.infoIcon__card-min {
  bottom: 5px;
  right: 5px;
}

.timeIcon__card-min {
  font-size: 2rem;
  cursor: default;
}

.closeIcon__card-max {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  font-size: 2rem;
  color: #fb3640;
}

.addIcon__card-max {
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  font-size: 4rem;
}

.timeIcon__card-max {
  font-size: 1.8rem;
  cursor: default;
}

.addPersonIcon__card-max {
  font-size: 1.8rem;
}

.removePersonIcon__card-max {
  font-size: 1.8rem;
  display: none;
}

.closeIcon__list {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 2rem;
  height: 100%;
  background-color: #ced4da;
  display: block;
  color: #fb3640;
}
.closeIcon__list:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.printIcon__list {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 2rem;
  height: 100%;
  background-color: #ced4da;
}

.removeIcon__list {
  display: none;
  font-size: 1.6rem;
  color: #fb3640;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.removeIcon__list:hover, .removeIcon__list:active {
  -webkit-transform: scale(160%);
          transform: scale(160%);
}

.scroll-up {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  background-color: #ced4da;
  color: #1b263b;
  z-index: 0;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search {
  grid-column: 1/-1;
  padding: 1rem;
  height: 3rem;
  width: 30rem;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  color: #0d1b2a;
}

input:focus {
  outline: 4px solid #ffd43b;
}

.searchIcon {
  color: #c0cad8;
  font-size: 3.6rem;
  font-weight: 700;
  opacity: 1;
}

.meal__section {
  margin: 0rem auto;
  width: 100%;
  padding: 0 10rem;
  border-top: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.meal__section__header {
  margin: 2.4rem 0;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.05px;
  font-size: 3.6rem;
  font-weight: 300;
  color: #0d1b2a;
}

.meal {
  border-radius: 7px;
  background-color: #c0cad8;
  width: 25rem;
  position: relative;
  -webkit-box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
.meal__img {
  border-radius: 10px;
  width: 22rem;
}
.meal__name {
  color: #0d1b2a;
  font-size: 1.4rem;
  margin: 1rem 0;
  font-weight: 700;
}
.meal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
  color: #0d1b2a;
}
.meal__info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.mealMax-fixed {
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mealMax-fixed .mealMax {
  margin-bottom: 4.8rem;
  border-radius: 7px;
  background-color: #c0cad8;
  width: 50rem;
  position: relative;
  display: grid;
  grid-template-areas: "title title" "more more" "img ingredients" "todo todo";
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.6rem;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
  padding: 1.6rem;
}
.mealMax-fixed .mealMax__title {
  grid-area: title;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.mealMax-fixed .mealMax__info {
  grid-area: more;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #0d1b2a;
  position: relative;
}
.mealMax-fixed .mealMax__info__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  width: 8rem;
}
.mealMax-fixed .mealMax__info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.mealMax-fixed .mealMax__info__time__text {
  font-weight: 700;
}
.mealMax-fixed .mealMax__info__kcal {
  font-weight: 700;
}
.mealMax-fixed .mealMax__img {
  grid-area: img;
  border-radius: 10px;
  width: 100%;
}
.mealMax-fixed .mealMax__ingredients {
  grid-area: ingredients;
  color: #0d1b2a;
  width: 100%;
  align-self: start;
}
.mealMax-fixed .mealMax__ingredients__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: end;
}
.mealMax-fixed .mealMax__ingredients__content {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  text-align: end;
}
.mealMax-fixed .mealMax__recipe {
  grid-area: todo;
}
.mealMax-fixed .mealMax__recipe__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d1b2a;
  margin-bottom: 1rem;
}
.mealMax-fixed .mealMax__recipe__content {
  font-size: 1.8rem;
  font-weight: 500;
  color: #0d1b2a;
}
.mealMax-fixed .mealMax .meal-added {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mealMax-fixed .mealMax .meal-added p {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: translate(0, 45%);
          transform: translate(0, 45%);
  color: red;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.mealMax-bcblack {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 105%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 55;
  display: none;
}

.list__container {
  margin: 0 auto 2.4rem auto;
  height: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list__container .list__counter {
  font-family: "Dancing Script", cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #c0cad8;
  color: #0d1b2a;
  font-size: 1.6rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  cursor: pointer;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.5);
          box-shadow: 1.5px 1.5px 3px 1.5px rgba(0, 0, 0, 0.5);
}
.list__container .list__counter:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.list__container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5);
  background-color: #c0cad8;
  color: #0d1b2a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.list__container .list__title {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.list__container .list__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17rem;
}
.list__container .list__days__dName {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
  height: 1.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #0d1b2a;
  text-transform: uppercase;
  background-color: #ced4da;
}
.list__container .list__days__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.1rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.list__container .list__days__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.1rem;
}
.list__container .list__days__day__meal {
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.list__container .list__days__day__meal:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#print {
  width: 100%;
  height: 100%;
  position: relative;
}

.print__meals {
  left: 0;
  top: 0;
  width: 101%;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.print__meals__day {
  height: 40.3cm;
}
.print__meals__day__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  background-color: #ccc;
}
.print__meals__shop-list {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2rem;
  line-height: 3rem;
}
.print__meals__shop-list::before {
  content: "Ingredients List";
  width: 100%;
  line-height: 4rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-text-decoration: underline dashed 2px;
          text-decoration: underline dashed 2px;
}

.print__meals__day__firstMeal .mealMax,
.print__meals__day__secondMeal .mealMax,
.print__meals__day__thirdMeal .mealMax {
  margin-bottom: 4.8rem;
  background-color: #fff;
  width: 100rem;
  -webkit-transition: all 2s;
  transition: all 2s;
  display: grid;
  grid-template-areas: "title title" "more more" "ingredients ingredients" "todo todo";
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.6rem;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
  padding: 1.6rem;
  transition: all 2s;
}
.print__meals__day__firstMeal .mealMax__title,
.print__meals__day__secondMeal .mealMax__title,
.print__meals__day__thirdMeal .mealMax__title {
  grid-area: title;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.print__meals__day__firstMeal .mealMax__title h4,
.print__meals__day__secondMeal .mealMax__title h4,
.print__meals__day__thirdMeal .mealMax__title h4 {
  color: black;
}
.print__meals__day__firstMeal .mealMax__info,
.print__meals__day__secondMeal .mealMax__info,
.print__meals__day__thirdMeal .mealMax__info {
  grid-area: more;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: black;
  position: relative;
}
.print__meals__day__firstMeal .mealMax__info__persons,
.print__meals__day__secondMeal .mealMax__info__persons,
.print__meals__day__thirdMeal .mealMax__info__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
.print__meals__day__firstMeal .mealMax__info__time,
.print__meals__day__secondMeal .mealMax__info__time,
.print__meals__day__thirdMeal .mealMax__info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.print__meals__day__firstMeal .mealMax__info__time__text,
.print__meals__day__secondMeal .mealMax__info__time__text,
.print__meals__day__thirdMeal .mealMax__info__time__text {
  font-weight: 700;
}
.print__meals__day__firstMeal .mealMax__info__kcal,
.print__meals__day__secondMeal .mealMax__info__kcal,
.print__meals__day__thirdMeal .mealMax__info__kcal {
  font-weight: 700;
}
.print__meals__day__firstMeal .mealMax__img,
.print__meals__day__secondMeal .mealMax__img,
.print__meals__day__thirdMeal .mealMax__img {
  grid-area: img;
  border-radius: 10px;
  width: 100%;
}
.print__meals__day__firstMeal .mealMax__ingredients,
.print__meals__day__secondMeal .mealMax__ingredients,
.print__meals__day__thirdMeal .mealMax__ingredients {
  grid-area: ingredients;
  color: black;
  width: 100%;
  -webkit-animation: slideR 1s linear;
          animation: slideR 1s linear;
}
.print__meals__day__firstMeal .mealMax__ingredients__title,
.print__meals__day__secondMeal .mealMax__ingredients__title,
.print__meals__day__thirdMeal .mealMax__ingredients__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 0.5rem;
}
.print__meals__day__firstMeal .mealMax__ingredients__content,
.print__meals__day__secondMeal .mealMax__ingredients__content,
.print__meals__day__thirdMeal .mealMax__ingredients__content {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
}
.print__meals__day__firstMeal .mealMax__recipe,
.print__meals__day__secondMeal .mealMax__recipe,
.print__meals__day__thirdMeal .mealMax__recipe {
  grid-area: todo;
  -webkit-transition: 2s;
  transition: 2s;
}
.print__meals__day__firstMeal .mealMax__recipe__title,
.print__meals__day__secondMeal .mealMax__recipe__title,
.print__meals__day__thirdMeal .mealMax__recipe__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0.5rem;
}
.print__meals__day__firstMeal .mealMax__recipe__content,
.print__meals__day__secondMeal .mealMax__recipe__content,
.print__meals__day__thirdMeal .mealMax__recipe__content {
  font-size: 2rem;
  font-weight: 400;
  color: black;
  -webkit-animation: slide 1s linear;
          animation: slide 1s linear;
}

.print__meals__day__secondMeal .mealMax {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
}