*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1d3461;
}

header {
  margin: 0 auto;
  height: 10rem;
  width: 80%;
  background-color: red;
}

.hide {
  display: none;
}

.meal__section {
  margin: 0 auto;
}

.search {
  margin: 2rem 0;
  padding: 1rem;
  height: 3rem;
  width: 30%;
  border-radius: 10px;
}

.hide {
  display: none;
}

ion-icon {
  color: #5095b3;
  font-weight: 700;
}

h2,
h3,
h4 {
  color: #bbb;
}

.addIcon__card-min,
.infoIcon__card-min {
  position: absolute;
  font-size: 1.8rem;
}

.infoIcon__card-min {
  bottom: 5px;
  right: 5px;
}

.timeIcon__card-min {
  font-size: 2rem;
}

.closeIcon__card-max {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  font-size: 2rem;
  color: #fb3640;
}

.addIcon__card-max {
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  font-size: 4rem;
}

.timeIcon__card-max {
  font-size: 1.8rem;
}

.addPersonIcon__card-max {
  font-size: 1.8rem;
}

.removePersonIcon__card-max {
  font-size: 1.8rem;
  display: none;
}

.closeIcon__list {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: #5095b3;
  display: none;
  -webkit-transform: translate(60%, -60%);
          transform: translate(60%, -60%);
  color: #fb3640;
}

.removeIcon__list {
  display: none;
  font-size: 1.6rem;
  color: #fb3640;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.removeIcon__list:hover, .removeIcon__list:active {
  -webkit-transform: scale(160%);
          transform: scale(160%);
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.meal__min__text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.meal__section {
  margin: 0rem auto;
  width: 100%;
  padding: 0 0 0 10rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(7%, #1d3461), color-stop(7%, #fff), color-stop(60%, #1d3461));
  background-image: linear-gradient(#1d3461 7%, #fff 7% 60%, #1d3461 60% 100%);
}
.meal__section__header {
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.meal {
  margin-bottom: 4.8rem;
  border-radius: 10px;
  background-color: #1f487e;
  width: 25rem;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  padding: 1.5rem;
}
.meal__img {
  border-radius: 10px;
  width: 22rem;
}
.meal__name {
  color: #bbb;
  font-size: 1.4rem;
  margin: 1rem 0;
}
.meal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
  color: #bbb;
}
.meal__info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.mealMax-fixed {
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mealMax-fixed .mealMax {
  margin-bottom: 4.8rem;
  border-radius: 10px;
  background-color: #1f487e;
  width: 50rem;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  display: grid;
  grid-template-areas: "title title" "more more" "img ingredients" "todo todo";
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.6rem;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
  padding: 1.6rem;
  transition: all 2s;
}
.mealMax-fixed .mealMax__title {
  grid-area: title;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.mealMax-fixed .mealMax__info {
  grid-area: more;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #bbb;
  position: relative;
}
.mealMax-fixed .mealMax__info__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
.mealMax-fixed .mealMax__info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.mealMax-fixed .mealMax__info__time__text {
  font-weight: 700;
}
.mealMax-fixed .mealMax__info__kcal {
  font-weight: 700;
}
.mealMax-fixed .mealMax__img {
  grid-area: img;
  border-radius: 10px;
  width: 100%;
}
.mealMax-fixed .mealMax__ingredients {
  grid-area: ingredients;
  color: #bbb;
  width: 100%;
  -webkit-animation: slideR 1s linear;
          animation: slideR 1s linear;
}
.mealMax-fixed .mealMax__ingredients__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: end;
}
.mealMax-fixed .mealMax__ingredients__content {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: end;
}
.mealMax-fixed .mealMax__recipe {
  grid-area: todo;
  -webkit-transition: 2s;
  transition: 2s;
}
.mealMax-fixed .mealMax__recipe__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #bbb;
  margin-bottom: 1rem;
}
.mealMax-fixed .mealMax__recipe__content {
  font-size: 1.4rem;
  font-weight: 400;
  color: #bbb;
  -webkit-animation: slide 1s linear;
          animation: slide 1s linear;
}

.mealMax-bcblack {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 105%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 55;
  display: none;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideR {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideR {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.print__meals {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.print__meals__day__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  background-color: #ccc;
}

.print__meals__day__firstMeal .mealMax,
.print__meals__day__secondMeal .mealMax,
.print__meals__day__thirdMeal .mealMax {
  margin-bottom: 4.8rem;
  background-color: #fff;
  width: 100rem;
  -webkit-transition: all 2s;
  transition: all 2s;
  display: grid;
  grid-template-areas: "title title" "more more" "ingredients ingredients" "todo todo";
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.6rem;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
  padding: 1.6rem;
  transition: all 2s;
}
.print__meals__day__firstMeal .mealMax__title,
.print__meals__day__secondMeal .mealMax__title,
.print__meals__day__thirdMeal .mealMax__title {
  grid-area: title;
  font-size: 2.6rem;
  text-transform: uppercase;
}
.print__meals__day__firstMeal .mealMax__title h4,
.print__meals__day__secondMeal .mealMax__title h4,
.print__meals__day__thirdMeal .mealMax__title h4 {
  color: black;
}
.print__meals__day__firstMeal .mealMax__info,
.print__meals__day__secondMeal .mealMax__info,
.print__meals__day__thirdMeal .mealMax__info {
  grid-area: more;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: black;
  position: relative;
}
.print__meals__day__firstMeal .mealMax__info__persons,
.print__meals__day__secondMeal .mealMax__info__persons,
.print__meals__day__thirdMeal .mealMax__info__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
.print__meals__day__firstMeal .mealMax__info__time,
.print__meals__day__secondMeal .mealMax__info__time,
.print__meals__day__thirdMeal .mealMax__info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.print__meals__day__firstMeal .mealMax__info__time__text,
.print__meals__day__secondMeal .mealMax__info__time__text,
.print__meals__day__thirdMeal .mealMax__info__time__text {
  font-weight: 700;
}
.print__meals__day__firstMeal .mealMax__info__kcal,
.print__meals__day__secondMeal .mealMax__info__kcal,
.print__meals__day__thirdMeal .mealMax__info__kcal {
  font-weight: 700;
}
.print__meals__day__firstMeal .mealMax__img,
.print__meals__day__secondMeal .mealMax__img,
.print__meals__day__thirdMeal .mealMax__img {
  grid-area: img;
  border-radius: 10px;
  width: 100%;
}
.print__meals__day__firstMeal .mealMax__ingredients,
.print__meals__day__secondMeal .mealMax__ingredients,
.print__meals__day__thirdMeal .mealMax__ingredients {
  grid-area: ingredients;
  color: black;
  width: 100%;
  -webkit-animation: slideR 1s linear;
          animation: slideR 1s linear;
}
.print__meals__day__firstMeal .mealMax__ingredients__title,
.print__meals__day__secondMeal .mealMax__ingredients__title,
.print__meals__day__thirdMeal .mealMax__ingredients__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 0.5rem;
}
.print__meals__day__firstMeal .mealMax__ingredients__content,
.print__meals__day__secondMeal .mealMax__ingredients__content,
.print__meals__day__thirdMeal .mealMax__ingredients__content {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
}
.print__meals__day__firstMeal .mealMax__recipe,
.print__meals__day__secondMeal .mealMax__recipe,
.print__meals__day__thirdMeal .mealMax__recipe {
  grid-area: todo;
  -webkit-transition: 2s;
  transition: 2s;
}
.print__meals__day__firstMeal .mealMax__recipe__title,
.print__meals__day__secondMeal .mealMax__recipe__title,
.print__meals__day__thirdMeal .mealMax__recipe__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0.5rem;
}
.print__meals__day__firstMeal .mealMax__recipe__content,
.print__meals__day__secondMeal .mealMax__recipe__content,
.print__meals__day__thirdMeal .mealMax__recipe__content {
  font-size: 2rem;
  font-weight: 400;
  color: black;
  -webkit-animation: slide 1s linear;
          animation: slide 1s linear;
}

.print__meals__day__secondMeal .mealMax {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
}

.list__container {
  margin: 5rem auto;
  width: 20rem;
  position: fixed;
  left: 5rem;
  z-index: 33;
}
.list__container .list__counter {
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #5095b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-60%, -60%);
          transform: translate(-60%, -60%);
  color: #fb3640;
  cursor: pointer;
}
.list__container .list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5);
  background-color: #1f487e;
  color: #bbb;
}
.list__container .list__title {
  font-size: 1.4rem;
  background-color: red;
  text-transform: uppercase;
}
.list__container .list__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.list__container .list__days__dName {
  padding: 0.2rem 0;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #5095b3;
}
.list__container .list__days__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.4rem;
  cursor: pointer;
  font-size: 1rem;
}
.list__container .list__days__day__meal {
  padding-left: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.list__container .list__days__day__meal:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.list__day__container {
  height: 4.2rem;
}